* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* percentage of user´s browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
}

.info-top {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.header-link {
  text-decoration: none;
  color: #333;
}
